.projectParent {
  border-style: solid;
  color: purple;
}

.projectImageOverlay {
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  position: relative;
}
.shadow {
  color: white;
  position: absolute;
  z-index: 1;
  width: 68vw;
  height: 60px;
  background: rgb(0, 0, 0, 0.5);
}
.projectImageOverlay p {
  position: absolute;
  right: 8.5vw;
  bottom: -3.5vw;
  width: 100%;
  color: white;
  z-index: 1;
  text-transform: uppercase;
  font-size: 3vw;
  font-family: "Roboto Mono", monospace;
}

.projectImageOverlay img {
  width: 400px;
  height: 130px;
}

.projectImageOverlay div {
  color: white;
  font-family: "Roboto Mono", monospace;
  text-align: left;
  padding: 2px;
  overflow: auto;
  height: 60px;
}
