@media only screen and (min-width: 768px) {
  .faceParent {
    width: 20%;
    background-color: #010b46;
  }

  .face {
    width: 70%;
    padding: 10%;
  }

  .contactInfo {
    color: white;
  }
}
