@media only screen and (min-width: 768px) {
  .faceParent {
    width: 30%;
    font-family: "Roboto Mono", monospace;
    background-image: url(../images/background2.jpg);
  }

  .face {
    width: 65%;
    padding: 10%;
  }
  .contactInfo {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    border-style: solid;
    justify-content: center;
    align-items: center;
  }
  .button {
    text-decoration: none;
    color: white;
  }
  .button:hover {
    color: pink;
  }
}
