.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  text-transform: uppercase;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  position: relative;
  list-style: none;
  margin: 2px;
  border: 3px solid rgba(76, 201, 240, 1);
  border-radius: 10px;
  width: 80px;
  height: 100px;
  background: linear-gradient(
    rgba(110, 195, 241, 1),
    rgba(4, 123, 191, 0.75),
    rgba(2, 57, 100, 0.5)
  );
  text-align: center;
  text-transform: uppercase;
  transform: scale3d(1, 1, 1) skewX(-10deg);
  overflow: hidden;
  filter: drop-shadow(0 1px 4px rgba(10, 2, 12, 0.2));
  transition: 70ms 20ms ease;
}

ul li:hover {
  border-color: rgba(247, 37, 133, 1);
  transform: scale3d(1.18, 1.18, 1) skewX(-10deg);
  z-index: 1;
}

ul li img {
  width: 65%;
  position: absolute;
  bottom: 40px;
  right: 15px;
  transform: translateZ(0) skewX(10deg);
}

.hero-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: linear-gradient(#f72585, #b5179e, #6ec3f1);
}

.hero-info p {
  transform: translateZ(0) skewX(10deg);
  font-style: oblique;
  font-size: 12px;
  font-weight: 700i;
  word-wrap: break-word;
  color: white;
}

#images {
  text-align: center;
}
